USE [master]
GO
/****** Object:  Database [ShopIluyas1]    Script Date: 28.04.2021 11:42:22 ******/
CREATE DATABASE [ShopIluyas1]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopIluyas1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopIluyas1]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 28.04.2021 11:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] NOT NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientHasOrder]    Script Date: 28.04.2021 11:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientHasOrder](
	[ClientId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
 CONSTRAINT [PK_ClientHasOrder_1] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfProductsInOrder]    Script Date: 28.04.2021 11:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfProductsInOrder](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_ListOfProductsInOrder] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 28.04.2021 11:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[id] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 28.04.2021 11:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] NOT NULL,
	[OrderName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28.04.2021 11:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](10) NULL,
	[Price] [decimal](7, 2) NULL,
	[Description] [nvarchar](30) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28.04.2021 11:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] NOT NULL,
	[SurName] [nvarchar](15) NULL,
	[FirstName] [nvarchar](15) NULL,
	[LastName] [nvarchar](15) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Client] ([ID], [UserID]) VALUES (1, 4)
INSERT [dbo].[Client] ([ID], [UserID]) VALUES (2, 5)
INSERT [dbo].[Client] ([ID], [UserID]) VALUES (3, 6)
GO
INSERT [dbo].[ClientHasOrder] ([ClientId], [OrderId]) VALUES (1, 1)
INSERT [dbo].[ClientHasOrder] ([ClientId], [OrderId]) VALUES (2, 2)
INSERT [dbo].[ClientHasOrder] ([ClientId], [OrderId]) VALUES (3, 3)
GO
INSERT [dbo].[ListOfProductsInOrder] ([OrderID], [ProductID]) VALUES (1, 1)
INSERT [dbo].[ListOfProductsInOrder] ([OrderID], [ProductID]) VALUES (1, 2)
INSERT [dbo].[ListOfProductsInOrder] ([OrderID], [ProductID]) VALUES (1, 3)
GO
INSERT [dbo].[Manager] ([id], [UserID], [Login], [Password]) VALUES (1, 1, N'LoginPassword', N'Asdcxzaseqw')
INSERT [dbo].[Manager] ([id], [UserID], [Login], [Password]) VALUES (2, 2, N'PasswordLogin', N'VZXcasdasdqw')
INSERT [dbo].[Manager] ([id], [UserID], [Login], [Password]) VALUES (3, 3, N'Parol', N'45645adSq')
GO
INSERT [dbo].[Order] ([id], [OrderName]) VALUES (1, N'order_1')
INSERT [dbo].[Order] ([id], [OrderName]) VALUES (2, N'order_2')
INSERT [dbo].[Order] ([id], [OrderName]) VALUES (3, N'order_3')
GO
INSERT [dbo].[Products] ([ID], [Name], [Price], [Description]) VALUES (1, N'Tea', CAST(13.37 AS Decimal(7, 2)), N'')
INSERT [dbo].[Products] ([ID], [Name], [Price], [Description]) VALUES (2, N'Chocolate', CAST(420.69 AS Decimal(7, 2)), N'')
INSERT [dbo].[Products] ([ID], [Name], [Price], [Description]) VALUES (3, N'Apple', CAST(14.88 AS Decimal(7, 2)), N'')
GO
INSERT [dbo].[User] ([id], [SurName], [FirstName], [LastName]) VALUES (1, N'Иванов', N'Иван', N'Петрович')
INSERT [dbo].[User] ([id], [SurName], [FirstName], [LastName]) VALUES (2, N'Петр', N'Иванович', N'Данилов')
INSERT [dbo].[User] ([id], [SurName], [FirstName], [LastName]) VALUES (3, N'Елизавета', N'Олеговна', N'Пашковская')
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_User]
GO
ALTER TABLE [dbo].[ClientHasOrder]  WITH CHECK ADD  CONSTRAINT [FK_ClientHasOrder_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ID])
GO
ALTER TABLE [dbo].[ClientHasOrder] CHECK CONSTRAINT [FK_ClientHasOrder_Client]
GO
ALTER TABLE [dbo].[ClientHasOrder]  WITH CHECK ADD  CONSTRAINT [FK_ClientHasOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[ClientHasOrder] CHECK CONSTRAINT [FK_ClientHasOrder_Order]
GO
ALTER TABLE [dbo].[ListOfProductsInOrder]  WITH CHECK ADD  CONSTRAINT [FK_ListOfProductsInOrder_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[ListOfProductsInOrder] CHECK CONSTRAINT [FK_ListOfProductsInOrder_Order]
GO
ALTER TABLE [dbo].[ListOfProductsInOrder]  WITH CHECK ADD  CONSTRAINT [FK_ListOfProductsInOrder_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ListOfProductsInOrder] CHECK CONSTRAINT [FK_ListOfProductsInOrder_Products]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_User]
GO
USE [master]
GO
